@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    background-color:#000;
    color:#FFF;
    font-size:25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > span {
    font-size:15px;
}

div{
    text-align:center;
}

div > p:first-child {
    font-size:65px;
}

div > p:nth-child(2){
    font-size:35px;
}

div > p:last-child {
    font-size:28px;
}

footer> span:last-child {
    float:right;
}